
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #efeff5;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-size: 52px;
  margin-bottom: 80px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #8e8b8b;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #e9dede;  
  position: relative;
}

.team .team_member h3{
  color: #2b12ca;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #8e8b8b;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

section h1 {
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: black;
  flex-wrap: wrap;
}
section p{
  text-align: center;
  flex-wrap: wrap;


}

.about, .about1{
  font-family: 'Poppins', sans-serif;
}
.about .about-content,
.about1 .about1-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* atas */
.about .about-content .left{
  width: 45%;
  /* tambahan display mbi justify ben tengah item gambare */
  display: flex;
  justify-content: center;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span{
  color: crimson;
}
.about .about-content .right p{
  text-align: justify;
}
.about .about-content .right a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

/* bawah */

.about1 .about1-content .right{
  width: 45%;
  /* tambahan display mbi justify ben tengah item gambare */
  display: flex;;
  justify-content: center;
}
.about1 .about1-content .right img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about1 .about1-content .left{
  width: 55%;
}
.about1 .about1-content .left .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about1 .about1-content .left .text span{
  color: crimson;
}
.about1 .about1-content .left p{
  text-align: justify;
}
.about1 .about1-content .left a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
