.wrapper{
    margin-top: 10%;
  }
  
  .wrapper h1{
    font-size: 52px;
    margin-bottom: 80px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: #D3E5FF;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #0e0c0c;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #0e0c0c;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: rgb(17, 16, 16);
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #D3E5FF;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  
  section h1 {
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: black;
    flex-wrap: wrap;
  }
  section p{
    text-align: center;
    flex-wrap: wrap;
  
  
  }
  
  .about, .about1{
    font-family: 'Poppins', sans-serif;
  }
  .about .about-content,
  .about1 .about1-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  /* atas */
  .about .about-content .left{
    width: 45%;
    display: flex;
    justify-content: center;
  }
  .about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
  .about .about-content .right{
    width: 55%;
  }
  .about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .about .about-content .right p{
    text-align: justify;
  }

  
  /* bawah */
  
  .about1 .about1-content .right{
    width: 45%;
    display: flex;;
    justify-content: center;
  }
  .about1 .about1-content .right img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
  .about1 .about1-content .left{
    width: 55%;
  }
  .about1 .about1-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .about1 .about1-content .left p{
    text-align: justify;
  }